:root {
  --primary: #00dc82;
  --secondary: #0f172a;
  --white: #ffffff;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 500;
  background-color: var(--secondary);
}

* {
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
}
