<template>
  <footer :class="cls.Root">
    <a href="https://gitlab.com/devhooly-portfolio/binance_dom" target="_blank">source code</a>
  </footer>
</template>

<style module="cls">
.Root {
  padding: 1rem;
  text-align: center;
  color: var(--primary);
}
</style>
