<script setup lang="ts">
import type { RouterLinkProps } from 'vue-router'

const props = defineProps<RouterLinkProps>()
</script>

<template>
  <RouterLink :class="cls.Link" v-bind="props">
    <slot />
  </RouterLink>
</template>

<style module="cls">
a {
  color: currentColor;
  text-decoration: none;
}
</style>
