<script setup lang="ts">
import { AppLink } from '@shared/ui'
</script>

<template>
  <header :class="cls.Root">
    <img src="/logo.png" width="54" height="54" alt="logo" />

    <nav :class="cls.Nav">
      <AppLink to="/">Home page</AppLink>
      <AppLink to="/settings">Settings</AppLink>
    </nav>
  </header>
</template>

<style module="cls">
.Root {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  color: var(--primary);
}

.Nav {
  display: flex;
  gap: 1rem;
}
</style>
