<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { VDataTableVirtual, VCol, VRow, VSelect } from 'vuetify/components'
import { useSettingsStore } from '@pages/model'
import { DEPTH_VARIANTS } from '@shared/const'
import { useBinanceStream } from './useBinanceStream'

const headers = [
  {
    title: 'Price',
    value: 'price'
  },
  {
    title: 'amount',
    value: 'amount'
  },
  {
    title: 'total',
    value: 'total'
  }
]

const { selectedDepth } = storeToRefs(useSettingsStore())

const c = await useBinanceStream()
</script>

<template>
  <div>
    <VRow justify="end">
      <VCol class="v-col-6 v-col-lg-3">
        <VSelect v-model="selectedDepth" :items="DEPTH_VARIANTS"></VSelect>
      </VCol>
    </VRow>
    <VRow>
      <VCol>
        <VDataTableVirtual
          :mobile="false"
          fixed-header
          height="800"
          :items-per-page="5"
          item-key="price"
          :headers="headers"
          :items="c.asks.value"
        >
          <template v-slot:item="{ item }">
            <tr :key="item.price + item.amount">
              <td>
                {{ item.price }}
              </td>
              <td>
                {{ item.amount }}
              </td>
              <td>
                {{ item.total }}
              </td>
            </tr>
          </template>
          <template #bottom> <!-- removes base footer navigation --></template>
        </VDataTableVirtual>
      </VCol>

      <VCol>
        <VDataTableVirtual
          fixed-header
          :mobile="false"
          height="400"
          :items-per-page="5"
          item-key="price"
          :headers="headers"
        >
          <template #bottom> <!-- removes base footer navigation --></template>
        </VDataTableVirtual>
      </VCol>
    </VRow>
  </div>
</template>
