<script setup lang="ts">
import { VSelect } from 'vuetify/components'
import { CURRENCY_PAIRS } from '@shared/const'
</script>

<template>
  <div>
    <v-select label="Currency pair" :items="CURRENCY_PAIRS" />
  </div>
</template>

<style scoped></style>
