<script setup lang="ts">
import { RouterView } from 'vue-router'
import { VContainer } from 'vuetify/components'
import { TheFooter } from '@widgets/footer'
import { TheHeader } from '@widgets/header'
import './styles/base.css'
</script>

<template>
  <main>
    <VContainer>
      <TheHeader />

      <RouterView v-slot="{ Component }">
        <transition name="fade" mode="out-in">
          <Suspense>
            <component :is="Component" />
            <template #fallback>fallback</template>
          </Suspense>
        </transition>
      </RouterView>

      <TheFooter />
    </VContainer>
  </main>
</template>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s cubic-bezier(0.57, 0.21, 0.69, 3.25);
}

.fade-leave-to {
  opacity: 0;
}
</style>
